<% include partials/header %>
<!--Stepper from Codepen: https://codepen.io/thdeux/pen/zBGNrM-->
<div class="md-stepper-horizontal orange">
    <div class="md-step active">
        <div class="md-step-circle"><span>1</span></div>
        <div class="md-step-title">Get the access token</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
    <div class="md-step">
        <div class="md-step-circle"><span>2</span></div>
        <div class="md-step-title">Calling the API</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card text-center">
            <div class="card-header">
                Get the access token
            </div>
            <div class="card-body">
                <p class="card-text">This client gets the access token directly, without any user intervention.</p>
                <a href="/get/the/token" class="btn btn-primary">Get the access token</a>
            </div>
        </div>
    </div>
</div>
</div>

<% include partials/footer %>
</body>

</html>